.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navHeader {
  display: flex;
  align-items: center;
}

.navLogo img {
  width: 150px;
}

.navBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.navLinks {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: var(--transition);
}

.showLinks {
  display: flex;
}

.navLink {
  text-decoration: none;
  color: var(--dark-gray);
  font-size: 1.25rem;
  text-transform: capitalize;
  transition: var(--transition);
}

.navLink:hover {
  color: var(--dark-orange);
}

.contactLink {
  background-color: var(--dark-orange);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: var(--borderRadius);
  text-transform: uppercase;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--light-gray);
  box-shadow: var(--shadow-1);
}

.navLinks {
  display: flex;
  gap: 1rem;
  transition: var(--transition);
}

.navLink {
  font-size: 1rem;
  color: var(--dark-gray);
  transition: var(--transition);
}

.navLink:hover {
  color: var(--dark-orange);
}

@media (max-width: 768px) {
  .navLinks {
    flex-direction: column;
    display: none;
    width: 100%;
  }

  .showLinks {
    display: flex;
  }
}
