.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 1rem;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.navLogo img {
  width: 300px;
  height: auto;
}

.navBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--dark-gray);
}

.navLinks {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease;
}

.showLinks {
  height: 150px;
}

.navLink {
  color: var(--dark-gray);
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  font-size: 1.6rem;
  transition: var(--transition);
}

.navLink:hover {
  color: var(--dark-orange);
}

.contactLink {
  padding: 0.5rem 1rem;
  background-color: var(--dark-orange);
  color: var(--white);
  border-radius: var(--borderRadius);
}

@media screen and (min-width: 768px) {
  .navLinks {
    height: auto;
    flex-direction: row;
  }

  .navBtn {
    display: none;
  }

  .navLink {
    padding: 0.5rem 1rem;
  }
}
