.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.footerLinks {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footerLinks a {
  color: white;
  text-decoration: none;
}

.footerLinks a:hover {
  text-decoration: underline;
}
